#swiper-2 .swiper-slide {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

#swiper-2 .swiper-pagination {
  bottom: 20px;
}

#swiper-2.swiper-container {
  height: auto;
  padding-top: 15vh;
  padding-bottom: 10vh;
}

@media (min-width: 1024px) {
  #swiper-2 .swiper-slide {
    width: 33.3333%;
    align-items: center;
  }

  #swiper-2.swiper-container {
    padding-top: 10vh;
    padding-bottom: 10vh;
    height: auto;
  }
}
